[Unit]
Description=freeside check

[Service]
Type=oneshot
ExecStart=/root/scripts/fside.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
